::-webkit-scrollbar{
    background-color: #03091F;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb{
    background:  linear-gradient(120deg, rgb(132, 111, 244), rgb(241, 118, 116));
    border-radius: 10rem;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }